:root {
    --white: hsl(0, 0%, 100%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: #af67e9;
    --soft-blue: #6565e7;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--soft-blue);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* Created with https://www.css-gradient.com */
    background: linear-gradient(to top, #6666E7, #AF67E9);
    background-attachment: fixed;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    width: 327px;
    padding: 0 24px 46px 24px;
    /* outline: greenyellow solid; */
    position: relative;
} 

.faq__hero-mobile {
    /* outline: orangered solid; */
    width: 240px;
    height: 215px;
    background-image: 
        url(images/illustration-woman-online-mobile.svg),
        url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    position: absolute;
    top: -110px;
    background-position-y: 0, 110px;
}

.faq__content {
    width: 100%;
    align-content: center;
    padding: 113px 0 0 0;
}

.faq__title {
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 13px 0;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.faq__label {
    font-size: .85rem;
    font-weight: 400;
    color: var(--very-dark-desaturated-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0 17px 0;
    cursor: pointer;
    user-select: none;
}

.faq__label:hover {
    color: var(--soft-red);
}

.faq__label::after {
    content: url(images/icon-arrow-down.svg);
    transition-property: transform;
    transition-duration: .1s;
}

.faq__answer {
    font-size: .8rem;
    max-height: 0;
    color: var(--very-dark-desaturated-blue);
    /* transition: all 0.1s; */
    display: none;
}

input:checked + .faq__label {
    font-weight: 700;
}

input:checked + .faq__label::after {
    transform: rotate(-180deg);
}

input:checked ~ .faq__answer {
    max-height: 100vh;
    padding-bottom: 18px;
    display: block;
    transition: all 0.35s;
}

.divider {
    border-top: 1px solid hsla(0, 0%, 20%, 0.14);
    border-bottom: 0px;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.attribution-info {
     font-size: 0.75rem; 
     text-align: center; 
     color: var(--white);
}
    
.attribution a {
    box-shadow: inset 0 0 0 0 hsl(228, 45%, 44%);
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.attribution a:hover {
    box-shadow: inset 100px 0 0 0 hsl(228, 45%, 44%);
    color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 950px) {
    .faq {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 920px;
        border-radius: 20px;
        padding: 63px 0 77px 0;
        background-image:
            url(images/illustration-woman-online-desktop.svg),
            url(images/bg-pattern-desktop.svg);
            background-repeat: no-repeat, no-repeat;
        background-position-x: -85px, -577px;
        background-position-y: 70px, -295px;
    }
    
    .faq__hero-mobile {
        width: 0;
        height: 0;
        background-image: none;
        top: 0;
        background-position-y: 0, 0;
    }

    .faq__hero-desktop {
        background-image: url(images/illustration-box-desktop.svg);
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 202px;
        left: -93px;
    }

    .faq__content {
        width: 100%;
        padding: 0 113px 0 15px;
        grid-column-start: 2;
    }

    .faq__title {
        font-size: 2rem;
        text-align: left;
        margin: 0 0 0 0;
        padding: 0 0 20px 0;
    }

    .faq__label {
        font-size: .9rem;
    }

    input:checked ~ .faq__answer {
        margin: -6px 0 0 0;
    }
}
