:root {
    --white: hsl(0, 0%, 100%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--soft-violet);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    width: 20.4375rem;
    padding: 0 24px 48px 24px;
}

.faq__hero {
    position: relative;
}

.faq__image-woman {
    position: absolute;
    top: -108px;
}

.faq__content {
    width: 100%;
    padding-top: 4px;
}

.faq__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.faq__label {
    font-size: .85rem;
    font-weight: 400;
    color: var(--very-dark-desaturated-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    user-select: none;
}

.faq__label:hover {
    color: var(--soft-red);
}

.faq__label::after {
    content: url(images/icon-arrow-down.svg);
    transition-property: transform;
    transition-duration: .1s;
}

.faq__answer {
    font-size: .8rem;
    max-height: 0;
    /* padding: 0 1em; */
    color: var(--very-dark-desaturated-blue);
    /* transition: all 0.1s; */
    display: none;
}

input:checked + .faq__label {
    font-weight: 700;
}

input:checked + .faq__label::after {
    transform: rotate(-180deg);
}

input:checked ~ .faq__answer {
    max-height: 100vh;
    padding-bottom: 18px;
    display: block;
    transition: all 0.35s;
}

.divider {
    border-top: 1px solid hsla(0, 0%, 20%, 0.14);
    border-bottom: 0px;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.attribution-info {
     font-size: 0.75rem; 
     text-align: center; 
     color: var(--white);
}
    
.attribution a {
    box-shadow: inset 0 0 0 0 hsl(228, 45%, 44%);
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.attribution a:hover {
    box-shadow: inset 100px 0 0 0 hsl(228, 45%, 44%);
    color: hsl(0, 0%, 100%);
}
